html{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto';
    color: #fff;
}

body{
    background-color: #5C319B;   
}

h1{
    font-size: 85px;
}

.row {
	flex-direction: row;
}

/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

.container {
	max-width: 60%;
	margin: 0 auto;
	display: flex;
}